.task-list-view-container {
  border: 1px solid #E7EAEB;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
  display: inline-block;
  background: #F6F8F9;
  transition: width .8s;

  .task-item {
    margin-top: 20px;
    border: 1px solid #E7EAEB;
    padding: 10px 10px 10px 10px;
  }

  .task-list {
    margin-top: 20px;
    background: white;
  }

  .task-header {
    font-size: 20px;
    font-weight: bold;

    .dropdown {
      float: right;
    }

    .ellipsis {
      color: #BDC3C7;
    }
  }

  .subheader {
    font-size: 16px;
  }

  .body {
    font-size: 14px;
  }

  .hover {
    color: #36D7B7;
  }

  .strike {
    text-decoration: line-through;
    color: #A0A0A0;
  }

  .subtask {
    margin-left: 5px;
  }

  &.show-add-task {
    width: 60%
  }

  &.hide-add-task {
    width: 100%;
  }
}
