.task-list-view-container {
  border: 1px solid #E7EAEB;
  padding: 20px 0 20px 20px;
  margin-top: 20px;

  .task-item {
    margin-top: 20px;
  }

  .task-list {
    margin-top: 20px;
  }

  .header {
    font-size: 20px;
    font-weight: bold;
  }

  .subheader {
    font-size: 16px;
  }

  .body {
    font-size: 14px;
  }
}
