<div id="root-wrapper">
  <ngbd-alert-closeable 
    *ngIf="bannerType != null"
    [bannerType]="bannerType"
    (eventEmitter)="eventHandler($event)">
  </ngbd-alert-closeable>
  <app-sliding-underline-menu 
    [menuItems]="menuItems" 
    (currSelected)="eventHandler($event)">
  </app-sliding-underline-menu>
  <app-task-list-view *ngIf="currSelected === 'Incomplete'" 
    [tasks]="tasks"
    (eventEmitter)="eventHandler($event)">
  </app-task-list-view>

  <app-task-detail-panel *ngIf="showTaskDetailPanel"
    [categories]="categories"
    [existingFormObj]="existingFormObj"
    (eventEmitter)="eventHandler($event)">
  </app-task-detail-panel>
  
  <app-completed-task-list-view *ngIf="currSelected !== 'Incomplete'"
    [completedTasks]="completedTasks"
    (eventEmitter)="eventHandler($event)">
  </app-completed-task-list-view>
</div>
