<div id="root-wrapper">
  <app-sliding-underline-menu 
    [menuItems]="menuItems" 
    (currSelected)="eventHandler($event)">
  </app-sliding-underline-menu>

  <app-task-list-view *ngIf="currSelected === 'Incomplete'" 
    [tasks]="tasks"
    (eventEmitter)="eventHandler($event)">
  </app-task-list-view>

  <app-task-detail-panel *ngIf="showTaskDetailPanel"
    [categories]="categories"
    (eventEmitter)="eventHandler($event)">
  </app-task-detail-panel>
  
  <app-completed-task-list-view *ngIf="currSelected !== 'Incomplete'">
  </app-completed-task-list-view>
</div>
