.task-detail-panel-wrapper {
  display: inline-block;
  width: 30%;
  vertical-align:top;
  margin: 20px 0 0 20px;
  padding: 20px 20px 20px 20px;
  border: 1px solid #E7EAEB;

  .form-control:focus {
    border-color: none;
  }

  #category-dropdown, #category-input-wrapper, #task-input-wrapper {
    margin-bottom: 10px;
  }

  #task-input {
    margin-bottom: 5px;
  }

  #save-cancel-container {
    margin-top: 40px;
  }

  #save-cancel-container {
    .btn-light {
      margin-right: 10px;
    }
  }
}
