<div class="task-detail-panel-wrapper">
  <!-- Use Reactive Form (Model Driven) -->
  <form [formGroup]="formModel">
    <div>
      <label class="font-weight-bold" for="category-dropdown">Select a category:</label>
      <select (change)="handleDropdownChange()" formControlName="category" class="form-control" 
        id="category-dropdown">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        <option>Add a new category</option>
      </select>
      
      <div *ngIf="showCategoryInput" id="category-input-wrapper">
        <label class="font-weight-bold" for="category-input">Category:</label>
        <input type="text" class="form-control" id="category-input" formControlName="newCategory">
      </div>
    </div>

    <div formArrayName="tasks" id="task-input-wrapper">
      <!-- _tasksFormArray is getter defined in component -->
      <label class="font-weight-bold" for="task-input">Task:</label>
      <div *ngFor="let task of _tasksFormArray.controls; 
        let i = index" [formGroupName]="i" class="input-group">
        <input type="text" id="task-input" class="form-control" formControlName="task">
        <button type="button" class="close" aria-label="Close" *ngIf="i !== 0">
          <span aria-hidden="true" (click)="removeTaskRow(i)">&times;</span>
        </button>
      </div>
    </div>
    <button class="btn btn-primary" (click)="addTaskRow()">Add Task Row</button>
  </form>

  <div id="save-cancel-container">
    <button type="button" class="btn btn-light" (click)="cancelAddTask()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveTaskHelper()">Save</button>
  </div>
</div>

<!-- display formModel via json pipe to view changes -->
<!-- <pre>{{ formModel.value | json }}</pre> -->
